
.button {
  width: 100%;
  height: 45px;
  padding: 8px;
  font-size: 0.8rem;
  font-weight: 900;
  color: #D93D4A;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  box-shadow: 0 0 0 1px inset rgba(236, 232, 225, 0.3);
  position: relative;
  margin: 10px 0;
}
.button.white:hover > p {
  color: #ece8e1;
}
.button.white > p {
  background: #ece8e1;
  color: #0f1923;
}
.button.white > p span.base {
  border: 1px solid transparent;
}
.button.transparent:hover > p {
  color: #ece8e1;
}
.button.transparent:hover > p span.text {
  box-shadow: 0 0 0 1px #ece8e1;
}
.button.transparent > p {
  background: #0f1923;
  color: #ece8e1;
}
.button.transparent > p span.base {
  border: 1px solid #ece8e1;
}
.button:after, .button:before {
  content: "";
  width: 1px;
  position: absolute;
  height: 8px;
  background: #0f1923;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.button:before {
  right: 0;
  left: initial;
}
.button p {
  margin: 0;
  height: 25px;
  line-height: 25px;
  box-sizing: border-box;
  z-index: 1;
  left: 0;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.button p span.base {
  box-sizing: border-box;
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  left: 0;
  border: 1px solid #D93D4A;
}
.button p span.base:before {
  content: "";
  width: 2px;
  height: 2px;
  left: -1px;
  top: -1px;
  background: #0f1923;
  position: absolute;
  transition: 0.3s ease-out all;
}
.button p span.bg {
  left: -5%;
  position: absolute;
  background: #D93D4A;
  width: 0;
  height: 100%;
  z-index: 3;
  transition: 0.3s ease-out all;
  transform: skewX(-10deg);
}
.button p span.text {
  z-index: 4;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.button p span.text:after {
  content: "";
  width: 4px;
  height: 4px;
  right: 0;
  bottom: 0;
  background: #0f1923;
  position: absolute;
  transition: 0.3s ease-out all;
  z-index: 5;
}
.button:hover {
  color: #ece8e1;
}
.button:hover span.bg {
  width: 110%;
}
.button:hover span.text:after {
  background: #ece8e1;
}