@import "~antd/dist/antd.css";

:root {
  --red-border: 1px solid #d93d4a;
  --default-bg: #1f1d26 !important;
}

.ant-btn-primary {
  background-color: #1f1d26 !important;
  border-color: #1f1d26 !important;
  color: #fff !important;
}
.ant-table {
  background: var(--default-bg);
  color: #fff;
}
.ant-table-thead > tr > th {
  background: var(--default-bg);
  border-top: var(--red-border);
  border-right: var(--red-border);
  border-bottom: var(--red-border);
  color: #fff;
}

.ant-table-thead > tr > th:first-child {
  border-right: var(--red-border);
  border-left: var(--red-border);
}
.ant-table-thead > tr > th:last-child {
  border-left: none;
}
.ant-table-tbody > tr.ant-table-row {
  cursor: pointer;
}

.ant-table-tbody > tr.ant-table-row > td {
  transition: all 0.7s;
}
.ant-table-tbody > tr.ant-table-row:hover > td {
  background: #d93d4a;
}

.ant-pagination-jump-prev
  .ant-pagination-item-container
  .ant-pagination-item-ellipsis,
.ant-pagination-jump-next
  .ant-pagination-item-container
  .ant-pagination-item-ellipsis {
  color: #fff;
}

.ant-pagination-item {
  background: var(--default-bg);
  border: var(--red-border) !important;
}

.ant-pagination-item > a {
  transition: all 0.7s;
  color: #fff !important;
}

.ant-pagination-item > a:hover {
  color: #d9886a !important;
}

.ant-pagination-item-active {
  background: #d93d4a !important;
}

.ant-pagination-prev .ant-pagination-item-link,
.ant-pagination-next .ant-pagination-item-link {
  color: #fff !important;
  background: #d9886a !important;
  border: 1px solid #d9886a !important;
}

.ant-select:not(.ant-select-customize-input) .ant-select-selector,
.ant-select-selector > .ant-select-arrow > span > svg {
  color: #fff !important;
  fill: #fff !important;
  background: var(--default-bg) !important;
}
.ant-modal {
  top: 20% !important;
}

.ant-modal-close-icon > svg {
  fill: #fff !important;
}
.ant-modal-header {
  border-bottom: 1px solid #d9886a !important;
}
.ant-modal-footer {
  border-top: 1px solid #d9886a !important;
}
.ant-modal-header {
  background: rgba(31, 29, 38, 0.2);
  box-shadow: 0 8px 6px 0 rgb(31 38 135 / 37%);
  backdrop-filter: blur(6.5px);
  -webkit-backdrop-filter: blur(6.5px);
  border-radius: 5px;
}

.ant-modal-header > .ant-modal-title {
  color: #fff;
}
.ant-modal-content {
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(6.5px);
  -webkit-backdrop-filter: blur(6.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  color: #fff;
}


.ant-empty-description {
  color: #fff;
}
.ant-table-tbody > tr.ant-table-placeholder:hover > td {
  background: #d93d4a !important;
}


.ant-table-placeholder:hover ~ .ant-empty-description {
  color: #1f1d26;
}