@import "./tachyons/css/tachyons.css";
@import "./react-image-zoom.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300&display=swap');
body {
  font-family: 'Poppins', sans-serif;
  background-color: #1F1D26 !important;
}

body > * {
  font-family: 'Poppins', sans-serif !important;
  font-weight: 200;
  transition: all 0.3s;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}
.primary-color {
  color: #D93D4A;
}