/****  floating-Lable style start ****/
.floatingLabel {
  position: relative;
  padding: 15px 0 0;
  margin-top: 3px;
}
.floatingSelect {
  font-family: inherit;
  width: 95%;
  border: 0;
  font-weight: 200;
  border-bottom: 2px solid #ffffff;
  outline: 0;
  font-size: 1rem;
  color: #ffffff;
  padding-top: 15px;
  background: #1f1d26;
  transition: border-color 0.2s;
}

.floatingSelect > option {
  padding-bottom: 6px;
  font-weight: 200;
  border-width: 2px;
  border-image-slice: 1;
}

.floating-input:focus,
.floatingSelect:focus {
  outline: none;
  border-bottom: 2px solid #ffffff;
}

.floatingLabel > label {
  position: absolute;
  top: 30px;
  display: block;
  transition: 0.5s;
  font-size: 1rem;
  color: #ffffff;
}

.floatingSelect ~ label.hasValue,
.floating-input:focus ~ label {
  top: 0px;
}

/* active state */
.floating-input:focus ~ .bar:before,
.floating-input:focus ~ .bar:after,
.floatingSelect:focus ~ .bar:before,
.floatingSelect:focus ~ .bar:after {
  width: 50%;
}

.floating-textarea {
  min-height: 30px;
  max-height: 260px;
  overflow: hidden;
  overflow-x: hidden;
}

/* highlighter */
.highlight {
  position: absolute;
  height: 50%;
  width: 100%;
  top: 15%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}
